/*sec4區*/
#sec4 {
    height: auto;
    overflow: hidden;
    background-color: rgba(255, 215, 0, 0.69);
}

#sec4 > div > div > a > img {
    width: 100%;
    height: auto;
}
/*sec5區*/
#sec5 {
    background-color: gray;
}

/*sec6區*/
/*
#sec6>div{margin: auto;}
#sec6>div>iframe{margin: auto;width:100vw;height:757;}
*/

/*響應式*/
@media (min-width: 767px) {
    /*sec1區*/

    #menu {
        display: none;
    }
    #list {
        display: block;
        overflow: hidden;
        text-align: center;
    }
    /* nav > div > ul {
        width: auto;
        display: inline-block;
        overflow: hidden;
        margin: auto;
        background-color: transparent;
    } */
    /* #sec1 {
        height: 95vh;
    } */
    /* #sec1 li {
        float: left;
        padding: 0 5px;
        border: 0;
    } */
    /* #sec1 li:nth-last-of-type(1) {
        border: 0;
    } */
    #sec1 div > h1 {
        font-size: 10vw;
    }
    /* #sec1 a {
        color: #000;
    } */

    #sec1b h4 {
        position: absolute;
        top: 55%;
        right: 43.3vw;
        white-space: nowrap;
        color: aliceblue;
    }
    #sec1 > h3 {
        color: aliceblue;
        position: absolute;
        top: 80vh;
        left: 45.5vw;
        z-index: 1;
        display: block;
        font-size: 1.7vw;
        font-family: 'Baumans', cursive;
    }
    /* .round {
        height: 2vw;
        width: 2vw;
        margin: 0.5vw auto 0;
        left: 5vw;
        border-radius: 50%;
        border: 2px solid aliceblue;
        cursor: pointer;
    } */

    /*sec2區*/
    #sec2 {
        min-height: 100vh;
        position: relative;
        overflow: hidden;
        padding: 0;
        background-color: rgba(255, 215, 0, 0.69);
    }
    #sec2 > div {
        margin: auto;
        height: 100%;
        max-width: 1100px;
    }
    .imgOut {
        margin: 50px 0 20px 0;
        display: none;
    }

    #sec2a {
        background-color: #006284;
        width: 400px;
        height: 400px;
        transition: all 1s;
        float: left;
        box-shadow: 1px 1px 5px gray;
        margin: -58px 0 50px 0;
        padding: 30px 30px;
        transform: translate(-700px, 0);
    }
    #sec2b {
        display: block;
    }
    #sec2a img {
        height: 100%;
        width: auto;
        display: block;
    }
    .sec2ashow {
        transform: translate(50px, 0) !important;
    }

    #sec2b {
        border: 4px #006284 solid;
        width: 700px;
        height: 400px;
        transition: all 1s;
        float: right;
        box-shadow: 1px 1px 3px gray;
        margin: 120px 0 0 0;
        padding: 20px 40px 20px 13%;
        clear: both;
        transform: translate(700px, 0);
    }
    .sec2bshow {
        transform: translate(-50px, 0) !important;
    }
    /*裝飾線*/
    #sec2b ul > div {
        border-bottom: 3px solid gray;
        margin: 10px 0;
    }
    .l1 {
        float: left;
        width: 50%;
    }

    .change {
        display: none;
    }
    /*sec3區*/
    #sec3 {
        padding-top: 120px;
    }

    .sec3a {
        left: 50%;
    }
    .sec3b {
        width: 767px;
        padding: 0;
    }
    .sec3b > li:nth-of-type(odd) {
        width: 45%;
        float: left;
        text-align: end;
        clear: both;
    }
    .sec3b > li:nth-of-type(even) {
        width: 45%;
        clear: both;
        float: right;
    }
    .sec3a > div {
        height: 20px;
        width: 20px;
        background: #006284;
        margin: 22px 0 70px 0;
        border-radius: 50%;
        transform: translate(-9px, 0);
    }

    /*sec4區*/
    #sec4 {
        overflow: hidden;
        padding: 10% 10%;
    }

    #sec4 > div > div {
        height: auto;
        width: 45%;
        float: left;
        font-size: 0;
    }
    #sec4 > div > div {
        padding: 10px;
    }
    /* #sec4>div>div>a>img{: 5%;width: 100%;height:auto;border: border: 10px solid gray;
  } */
    #sec4 > div > div > a {
        background-color: aqua;
        z-index: 2;
    }
    #sec4 > div > div > a > img:hover {
        box-shadow: 15px 15px 0px #006284;
        transform: translate(-6%, -6%);
    }
    /*sec5區*/
    #sec5 {
        box-sizing: border-box;
        padding: 30px 30px 30px 30px;
        position: relative;
        overflow: hidden;
    }
    #sec5 > h1 {
        border: 4px #006284 solid;
        padding: 20px 0;
        text-align: center;
        width: 50%;
        position: absolute;
        left: -55%;
        transition: all 1.5s;
    }
    #sec5 > div {
        border: 4px #006284 solid;
        width: 70%;
        height: 110%;
        position: absolute;
        right: -70%;
        bottom: -120%;
        transition: all 1.5s;
    }
    .sec5h1show {
        transform: translate(100%, 100%);
    }
    .sec5divshow {
        transform: translate(-90%, -90%);
    }

    /*sec6區*/
    #sec6 {
        overflow: hidden;
    }
    #sec6 > div {
        margin: auto;
        margin: 60px 0 60px 0;
        height: 757;
    }
    #sec6 > div > iframe {
        margin: auto;
        width: 640;
        height: 757;
    }
}
@media (min-width: 1097px) {
    #sec2a {
        margin: 320px 0 0 0;
    }
    #sec4 > div > div {
        height: auto;
        width: 33%;
        float: left;
        font-size: 0;
    }
}
