*{margin: 0;padding: 0;border:none;box-sizing:border-box;}
html,body{height: 100%;max-width:1440px;}
section{height: 100%;padding: 30px;box-shadow: 3px 0 7px gray;
        background-color: #f1f1f1;border-radius: 15px;}
#sec1 {padding: 0;margin: 0;}
ul,li{list-style:none;margin: 0;padding: 0;}


/*sec1區*/
#sec1{position: relative;overflow: hidden;height: 50%;
    min-height: inherit;height: 60vw;width: 100vw;}
#sec1>div:nth-of-type(1){height: 60px;}
nav{background-color: rgba(255, 255, 255, 0.92);height: 60px;width: 100%; z-index: 9;
    position: fixed;top:-60px;transition: all 1s;box-shadow: 3px 0 7px gray;
    }
nav h1{height: 60px;line-height: 60px;}
/*meun 按鈕*/
#menu{height: 60px;width: 70px;
            position: absolute;top:0px;right: 20px;}
#menu2{border-top:2px #000 solid;width: 20px;transition: all 1s;
            position: absolute;top:32px;right: 20px;}
#menu3{border-top: 2px #000 solid;width: 20px;
            position: absolute;top:32px;right: 20px;}
.menu1{border-top: 2px #000 solid;width: 20px;transition: all 1s;
            position: absolute;top:25px;right: 20px;}
.menu4{border-top: 2px #000 solid;width: 20px;transition: all 1s;
            position: absolute;top:39px;right: 20px;}
.t{;transform: rotate(230deg);}
.tt{transform:rotate(-230deg);transition: all 1s;}
.ttt{transform: translate(80px,0px); ;}  
/*meun 按鈕 end*/
nav>div>ul{background-color:#fff;width: 100%;display: none;}
#sec1 a{height: 60px;line-height: 60px;text-decoration: none;color: black;
        padding: 0 20px;display: block;}

#sec1 a:nth-last-of-type(1){padding-left: 30px;}
#sec1 li{text-align: center;border-top:1px solid gray;}
#sec1 li:nth-last-of-type(1){border-bottom:2px solid gray;
letter-spacing:0.05em;}
#sec1 li>a:hover{background-color: rgba(0, 98, 132, 0.65);box-shadow: 0px 2px 3px gray;}
.sec1nav{transform: translate(0,60px);}
#sec1>div:nth-of-type(2){height: 100%;}
#sec1a{background-color:#433840;width: 50%;;height: 100%;transition: all 1s;
position: absolute;left: -50%;}
#sec1b{background-color:#006284;width: 50%;float: right;height: 100%;transition: all 1s;
position: absolute;right: -50%;}
.sec1ashow{transform: translate(100%,0);}
.sec1bshow{transform: translate(-100%,0);}
#sec1 div>h1{color: aliceblue;font-size: 10vw;}
#sec1a h1 {position: absolute;top:30%;right: 3vw;transition: all 1s;font-family: 'Baumans', cursive;}
#sec1b h1 {position: absolute;top:30%;left: 3vw;transition: all 1s;font-family: 'Baumans', cursive;}
.sec1aH1show{transform: rotate(0deg); }
.sec1bH1show{transform: rotate(0deg);}
/*背景區*/
#back1 {
	position: relative;
}


    }
/*背景區 end*/
/*sec2區*/
/*sec2區*/
#sec2{position: relative;overflow: hidden;
}
#sec2b{text-align: justify;}
#sec2>h2{font-family: 'Baumans', cursive;font-size: 4vw;
margin: 8vw 0 0 10%;}



/*sec3區*/
#sec3 {background-color: gray;height: 100%;padding: 0;overflow: hidden;}
#sec3>a{background-color: #006284;float: left;width: 90%;height: 19%;;
border-radius: 15px;margin: 2% 5%;}
/*sec4區*/
/*sec5區*/
#sec5 {
	background-color: gray;
}

/*響應式*/
@media (min-width:767px){

/*sec1區*/

nav h1{float: left;}
#menu {display: none;}
#list {
	display: block;overflow: hidden;text-align: center;
}
nav>div>ul{width: auto;display: inline-block;overflow: hidden;margin: auto;background-color:transparent;}
    
#sec1 li{float: left;padding: 0 5px;border: 0;}
#sec1 li:nth-last-of-type(1) {border: 0;}
   
    
/*sec2區*/
#sec2 {
	position: relative;overflow: hidden;height: 70%;
}
    #sec2>h2{display: none;}
#sec2a{background-color: #006284;width: 27vw;height: 27vw;transition: all 1s;
    position: absolute;left: -40%;top:40%;margin: 0;
    padding: 20px 13% 20px 20px ;box-sizing: border-box;}
.sec2ashow{transform: translate(55vw,0) ;}   
    
    
#sec2b{border: 4px #006284 solid;width: 50%;height: 50%;transition: all 1s;
    position: absolute;right: -65%;top:25%;margin: 0;
    box-sizing: border-box;padding: 20px 40px 20px 13%;}

.sec2bshow{transform: translate(-160%,0);}

#sec2b>h2{padding-bottom:16px;}
#sec2b>div{height: 1.7em;}
/*sec3區*/
    #sec3 {
	overflow: hidden;
}
/*sec4區*/
    #sec4{height: 90vh;overflow: hidden;padding: 10% 10%;}
#sec4>div{height: 100%;background-color: gold;
    }
/*sec5區*/
    #sec5 {box-sizing: border-box;padding: 30px 30px 30px 30px;
position: relative;overflow: hidden;}
#sec5>h1{border:4px #006284 solid;padding: 20px 0;text-align: center;; width: 50%;
    position: absolute;left: -55%;transition: all 1s;}
#sec5>div{border:4px #006284 solid;width: 70%;height: 110%;
    position: absolute;right: -70%;bottom:-120%;transition: all 1s;}
.sec5h1show{transform: translate(100%,100%);}
.sec5divshow{transform: translate(-90%,-90%);}
    
    
}