* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}
@mixin pad {
    @media (min-width: 767px) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: 1097px) {
        @content;
    }
}
html,
body {
    height: 100%;
    width: 100%;
}
section {
    padding: 30px;
    background-color: #f1f1f1;
    @include pad {
        box-shadow: 3px 0 7px gray;
    }
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.none {
    display: none;
}
// test
// test 2
