/*meun 按鈕*/
#menu {
    height: 60px;
    width: 70px;
    position: absolute;
    top: 0px;
    right: 20px;
}
#menu2 {
    border-top: 2px #000 solid;
    width: 20px;
    transition: all 1s;
    position: absolute;
    top: 32px;
    right: 20px;
}
#menu3 {
    border-top: 2px #000 solid;
    width: 20px;
    position: absolute;
    top: 32px;
    right: 20px;
}
.menu1 {
    border-top: 2px #000 solid;
    width: 20px;
    transition: all 1s;
    position: absolute;
    top: 25px;
    right: 20px;
}
.menu4 {
    border-top: 2px #000 solid;
    width: 20px;
    transition: all 1s;
    position: absolute;
    top: 39px;
    right: 20px;
}
.menu__move__one {
    transform: rotate(230deg);
}
.menu__move__two {
    transform: rotate(-230deg);
    transition: all 1s;
}
.menu__move__three {
    transform: translate(80px, 0px);
}
