/*sec2å€*/
#sec2 {
    width: 100%;
    height: 100%;
}
#sec2 {
    width: 100%;
    min-height: 100%;
    background-color: rgba(255, 215, 0, 0.69);
}
.img2 {
    width: 100%;
    height: auto;
}
.imgOut {
    margin: 50px 0 20px 0;
}

#sec2 li {
    line-height: 1.5em;
    text-align: justify;
    letter-spacing: 0.05em;
}
#sec2b {
    display: none;
}
#sec2b > h2 {
    font-family: 'Baumans', cursive;
}
/*
#sec2>h2{font-family: 'Baumans', cursive;font-size: 4vw;
margin: 8vw 0 0 10%;}
*/
.change {
    display: none;
}
