* {
  margin: 0;
  padding: 0
}

html,
body {
  height: 100%;
 
  background: #eee
}

body {
  font: 14px Georgia, serif
}
#main{padding-top: 100px;width: 100%;} 
#page-wrap {
  width: 100%;
  padding: 15px;
  margin: 0 ;
  overflow: hidden;
  height: 100%
}

.info-col {
  float: left;
  width: 40%;
  height: 100%;
  padding: 50px 0 0
}

.info-col h2 {
  text-align: center;
  font-weight: 400;
  padding: 25px 0
}

.image {
  height: 100px;
 
  display: block;
  border-right: 1px solid #fff
}

.batman {
  background: url(../../images/racing/racing5.jpg) center center no-repeat
}

.spiderman {
  background: url(../../images/racing/racing2.jpg) center center no-repeat
}

.aquaman {
  background: url(../../images/racing/racing1.jpg) center center no-repeat
}

.ironman {
  background: url(../../images/racing/racing3.jpg) center center no-repeat
}

.superman {
  background: url(../../images/racing/racing4.jpg) center center no-repeat
}

dt {
  padding: 5px;
  background: #900;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff
}

dd {
 
 
  background: #900;
  padding: 10px;
  color: #fff;
  border-right: 1px solid #fff
}

dt:nth-of-type(1) {
  background: #b44835
}

dd:nth-of-type(1) {
  background: #b44835
}

dt:nth-of-type(2) {
  background: #ff7d3e
}

dd:nth-of-type(2) {
  background: #ff7d3e
}

dt:nth-of-type(3) {
  background: #ffb03b
}

dd:nth-of-type(3) {
  background: #ffb03b
}

dt:nth-of-type(4) {
  background: #c2a25c
}

dd:nth-of-type(4) {
  background: #c2a25c
}

dt:nth-of-type(5) {
  background: #4c443c
}

dd:nth-of-type(5) {
  background: #4c443c
}

dt:nth-of-type(6) {
  background: #656b60
}

dd:nth-of-type(6) {
  background: #656b60
}

.curCol {
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  z-index: 1;
  position: relative
}
